<!DOCTYPE html>

<html ng-app="MyDashboard">
  <head>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
    <script src="bower_components/angular-gridster/dist/angular-gridster.min.js"></script>

    <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css" />

    <script src="js/app.js"></script>
    <script src="js/widgets/clock/clock.directive.js"></script>
    <script src="js/widget-container/widget-container.directive.js"></script>
  </head>
  <body ng-controller="DashboardCtrl">
    <button ng-click="addWidget()">Add a widget</button>
    <button ng-click="clearWidgets()">Remove all</button>
    <div gridster>
      <ul>
        <li gridster-item="widget"
            ng-repeat="widget in widgets track by $index"
            row="widget.ui.x"
            col="widget.ui.y"
            size-x="widget.ui.w"
            size-y="widget.ui.h">
          <widget-container url="widget.url" config="widget.config"></widget-container>
        </li>
      </ul>
    </div>
  </body>

  <style>
    li.gridster-item {
      border: 1px solid black;
    }
  </style>
</html>
